<div class="content">
  <div class= "image">
    <%#<%= image_tag "tangdynasty.jpg", alt: "tangdynasty", class: "image"  %>
    <div class= "caption">
      <h4><%= time_travel.name %></h4>
    </div>
  </div>
  <div class="card" class="co-4 col-sm-6 col-md-4 mb-3">
    <h5 class="card-trip-pricing"><%= time_travel.short_description %></h5>

    <button class="favorite styled" type="button"><%=link_to "Portal",  time_travel_path(time_travel) %></button>
   </div>
</div>
