// Specific CSS for your home-page

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-body {
  flex-grow: 1;
}

.home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    asset-url("homebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  border: 1px solid blue;
  .text-container {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 120px;
  }
}

.text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 70%;
  p {
    text-align: justify;
  }
}
