
<div class="page-container">
  <h2>See all time travel trips </h2>
  <div class="cards-container">
    <% @time_travels.each do |time_travel| %>
      <%= render "layouts/shared/card_index", time_travel: time_travel  %>
    <% end %>
  </div>
</div>
