<h1>See All Time travels </h1>

<div class="cards">
  <% @time_travels.each do |time_travel| %>
  <%= render "layouts/shared/card_index", time_travel: time_travel  %>
  <% end %>
</div>

<%= link_to "back to home page", root_path %>
