<div class="page-container">
  <div class="travel-card">
    <h2><%= @time_travel.name %></h2>
    <h4><%= @time_travel.location %></h4>
    <h4><%= @time_travel.period_of_time %></h4>
    <%= @time_travel.detailed_description %>
  </div>
</div>




<%# link_to "back to home page", root_path %>

<%# link_to "back to time travels", time_travels_path %>
<%# link_to "book", new_user_booking_path(current_user, time_travel: @time_travel.id) %>
