<div class="page-container">
  <h3>My bookings</h3>
  <div class="cards-container">
    <% current_user.time_travels.each do |time_travel| %>
      <%= render "layouts/shared/card_index", time_travel: time_travel, url: time_travel_path(time_travel), link_text: "Portal" %>
    <% end %>
  </div>
</div>
