<h3>My bookings</h3>
<div>
  <% @booking.each do |book| %>
    <%= booking.time_travel  %>
  <% end %>
</div>
<%= link_to "home", root_path %>
<%= link_to "back to time travels", time_travels_path %>
