<div class="home-banner">
  <div class="text-container">
    <h1>Welcome to Chronolidays</h1>
    <h3>The only place to experience a real historical holiday</h3>
  </div>
</div>
<div>
  <h2>Our Adventures</h2>
</div>
